@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap');
body {
  margin: 0 0;
  padding: 0;
  background: #fce1f0;
  font-family: 'Kosugi Maru', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.forSmaFo {
  width: 360px;
  padding: 2px;
  min-height: 92vh;
  margin: 3vh auto;
  background: #FFF;
  border-radius: 20px;
  text-align: center;
  vertical-align: center;
}

section {
  display: none;
}

img {
  width: 90%;
  margin: 0 5%;
}

img.logo {
  margin: 20% 5% 5% 5% !important;
}

img.mic {
  width: 128px;
}

button {
  font-family: 'Kosugi Maru', sans-serif;
  display: block;
  width: 90%;
  min-height: 15%;
  margin: 3% 5% 0 5%;
  background-color: #fff6d2;
  border: solid 2px #e9ddaf;
  border-radius: 20px;
  font-size: 2em;
}

button.topB {
  margin: 15% 5%;
  height: 20%;
}

.backB {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url(img/back.png);
}

.bImg {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.bStr {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
}

.words {
  font-size: 0.7em;
}

.recMic {
  height: 50%;
  margin: 30% auto 0 auto;
}

#charNameP, #wordsP {
  margin: 1em;
  font-size: 2em;
}

.pBarWrap {
  width: 70%;
  height: 2%;
  background: #EEF;
  margin: auto;
}

.pBar {
  width: 0%;
  height: 100%;
  background: #FAA;
  margin: 0 auto 0 0;
}

.twitter-bStr {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
  color: black;
}

#share {
  border-radius: 12px;
}

.score {
  background: repeating-conic-gradient(transparent, transparent 6deg, #fff6d2 6deg 12deg);
  font-size: 6em;
  height: 250px;
  width: 90%;
  margin: 9% auto;
  position: relative;
  animation-name: expansion;
  animation-duration: 1s;
}

@keyframes expansion {
  0% {
    -webkit-transform: scale(0.0);
  }
  100% {
    -webkit-transform: scale(1.0);
  }
}

.score-number {
  position: absolute;
  top: 50%;
  transform: translate(-60%, -50%);
  animation-timing-function: steps(77.7, end);
}

.score-percent {
  position: absolute;
  font-size: 70%;
  top: 50%;
  transform: translate(225%, -35%);
}

.twitter{
  text-decoration: none;
}

li{
  font-family: 'Kosugi Maru', sans-serif;
  min-height: 15%;
  margin: 3% 5% 0 5%;
  background-color: #fff6d2;
  border: solid 2px #e9ddaf;
  border-radius: 20px;
  font-size: 2em;
  display: -webkit-box; /* safari, Chrome */
  display: -moz-box;    /* Firefox */
  display: -o-box;      /* Opera */
  display: -ms-box;     /* IE */
  display: box;  
  -webkit-box-align: center; /* safari, Chrome */
  -moz-box-align: center;    /* Firefox */
  -o-box-align: center;      /* Opera */
  -ms-box-align: center;     /* IE */
  box-align: center;         /* ベンダープレフィックスなし */
}


.rankingImg {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.rankingStr {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  font-size: 2em;
}

.userRanking-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.userRanking-list--item {
  display: list-item;

}

.userRanking-list p {
  background-color: #e9ddaf;
  width: 30%;
}


.name{
  flex-grow: 2;
}


.otherRanking-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding-top: 90px;
}

.otherRanking-img{
  width: 64px;
  height: 64px;
}

.rankingImgSrc{
  background-color: aqua;
}